<!-- 
big section heading

a heading to use once per section, describing the purpose of the section
includes a flag item (optional), heading (required) and subheading (required)
be careful, heading and subheading are sensitive to line breaks -->

{% if include.flag %}
    {% include typography/flag_dark.html name=include.flag %}
{% endif %}
<p class="display-3 mb-4">{{ include.heading | default: "You are missing a heading" | newline_to_br}}</p>
<p class="lead text-black-50 mb-5 fs-4">{{ include.subheading | default: "You are missing a subheading" | newline_to_br }}</p>