---
layout: default
title: Home
---
<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy bg-light" tabindex="0">


    <!-- HERO SECTION -->
    {% include sections/hero_alt3.html %}

    <!-- PITCH SECTION -->
    {% capture include_content %}
        {% include sections/pitch_n_video.html %}
    {% endcapture %}
    {% include section_wrappers/default.html content = include_content %}

    <!-- TESTIMONIAL SECTION -->
    {% capture include_content %}
        {% include sections/testimonials.html %}
    {% endcapture %}
    {% include section_wrappers/default.html content = include_content %}

    <div class="pb-5 bg-gradient-primary">
    <!-- ABOUT SECTION -->
    <!-- Captures the about content -->
    {% capture include_content %}
        {% include sections/about_alt2.html %}
    {% endcapture %}
    <!-- Sends the 'about content' and the 'about scrollspy data' into the default section wrapper -->
    {% include section_wrappers/default.html content = include_content scrollspy = site.data.navigation.about.link %}
    </div>

    <!-- SERVICES SECTION -->
    {% capture include_content %}
        {% include sections/services.html %}
    {% endcapture %}
    {% include section_wrappers/default.html content = include_content scrollspy = site.data.navigation.services.link%}

    <div class="pb-5 bg-gradient-primary">
    <!-- TEAM SECTION -->
    {% capture include_content %}
        {% include sections/team.html %}
    {% endcapture %}
    {% include section_wrappers/default.html content = include_content scrollspy = site.data.navigation.team.link %}
    
    <!-- SUPPORTERS SECTION -->
    {% include sections/logo_wall_oneline.html %}
    </div>

    <!-- CONTACT SECTION -->
    {% capture include_content %}
        {% include sections/contact.html %}
    {% endcapture %}
    {% include section_wrappers/default.html content = include_content scrollspy = site.data.navigation.contact.link %}
</div>

