<div class="row justify-content-between">
    <div class="col-lg-6 order-lg-1">
    {% include typography/big_section_heading.html 
        flag = "About Us" 
        heading="The Concordia Genome Foundry is Canada’s platform for synthetic biology." 
        subheading = "We use lab automation to provide academics and companies with services to engineer biology at a scale beyond manual methods." 
    %}
    </div>
    <div class="col-lg-6 order-lg-2 text-center align-self-center">
        <div class="row mb-3">
            {% for item in site.data.advantages %}
                <div class="col-md-6 p-4">
                    <div class="mb-3">
                        <i class="bi {{ item.icon }} display-3 gradient-text"></i>
                    </div>
                    <h3>{{ item.name }}</h3>
                    <p class="lead fw-normal text-black-50">{{ item.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
