
<!-- <div class="row d-flex">
    <div class="col-md-5 my-3">
        <ul class="list-group rounded-bottom-end bg-white shadow list-group-flush">
            {% for item in site.data.contact.contact %}
                <li class="list-group-item d-flex py-4">
                    <div class="icon-circle-primary me-3">
                    <i class="bi {{ item[1].icon }} text-primary fs-3"></i>
                    </div>
                    <a href="{{ item[1].link }}" style="text-decoration: none;"
                        class="text-reset align-self-center">{{ item[1].text | newline_to_br }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-floating col-md-7 my-3">
        <h3 class="mb-3">Contact Form</h3>
        {% include cards/contact_form.html %}
    </div>
</div>
<div class="row">
    <div class="col-md-7 my-3">
        <iframe
        title="Map with location of genome foundry"
        src="{{ site.data.contact.contact.address.iframe }}"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-5 my-3">
        <img class="img-fluid" src="./assets/images/photos/building.webp" alt="Genome Foundry building">
    </div>
</div> -->

<div class="form-floating col-md-9 p-5 my-3 mx-auto rounded-bottom-end bg-white shadow">
    <div class="mb-4">
    {% include typography/flag.html name="Contact Us" %}
    </div>
    {% include cards/contact_form.html %}
</div>