{% include typography/flag.html name="Supply" %}
<div class="row justify-content-between">
    <div class="col-lg-6">
        {% capture include_content %} All Genome Foundry users and laboratories belonging to the Concordia University Centre for Applied Synthetic Biology receive significant discounts on gene synthesis, provided by <a href="https://www.ranomics.com/" target="_blank">Ranomics</a>.
        {% endcapture %}
        {% include typography/big_section_heading.html  
            heading="High Quality Synthetic DNA from a Canadian Supplier" 
            subheading = include_content
        %}
    </div>
    <div class="col-lg-5">
        {% for item in site.data.discounts %}
            {% include cards/discount_card.html  
                id= item.id
                discount = item.discount
                product = item.product
                product_link = item.product_link
                list = item.list
            %}
        {% endfor %}
    </div>
</div>