
<div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
    <h2 class="fw-semibold text-black-50">Supported by</h2>
    {% for item in site.data.supporters %}
        <div>
            <a href="{{ item.link }}" >
                <img height="{{ item.logo_height | minus: 10 }}px"
                    src="{{ item.logo }}"
                    alt="{{ item.name }} logo"
                    style="filter: brightness(0.5);">
            </a>
        </div>
    {% endfor %}
</div>