<h2 class="pt-3 fw-semibold text-white">Supported by</h2>
<div class="row align-items-center mb-3 px-2">
    <div class="col p-5">
        <img class="img-fluid"
            src="assets\images\partners\National_Research_Council_of_Canada_logo_white.png"
            alt="National Research Council of Canada logo">
    </div>
    <div class="col p-5">
        <img class="img-fluid" src="assets\images\partners\CFI_white.png"
            alt="Canada Foundation for Fnnovation logo">
    </div>
    <div class="col p-5">
        <img class="img-fluid" src="assets\images\partners\Concordia-logo-white.png"
            alt="Concordia University logo">
    </div>
</div>