<div class="row py-5 justify-content-between">
    <div class="col-lg-5">
        <div class="shadow rounded-bottom-end h-100" 
        style="background: url('assets/images/photos/20150908_District_3_offices.jpg') center center; 
        background-size:cover; min-height:310px; z-index:2;">
        </div>
    </div>
    <div class="col-lg-7">
    {% include typography/big_section_heading.html
        heading="The Genome Foundry is pioneering high-throughput services for engineering life at the next scale."
        subheading="As a cutting edge innovator, what will you build and test at a scale of 1,000? 100,000?"
        light=false
    %}
    </div>
</div>
<div class="row py-5 justify-content-between">
    <div class="col-lg-7">
    {% include typography/big_section_heading.html
        heading="Build more. Test more."
        subheading="Our end-to-end solutions for the design, construction, testing, and analysis of a user-defined genome at a large scale are vital to address synthetic biology-related research efforts where time, cost, scalability, and result quality are of utmost importance."
        light=false
    %}
    </div>
    <div class="col-lg-5">
        <div class="shadow rounded-bottom-end h-100" 
        style="background: url('assets/images/photos/20150908_District_3_offices.jpg') center center; 
        background-size:cover; min-height:310px; z-index:2;">
        </div>
    </div>
</div>
