{% include typography/flag.html name="About Us" light=true%}
<div class="row">
<div class="col-lg-6 order-lg-2">
    {% include typography/big_section_heading.html
    heading="OUR VISION"
    subheading = "To Engineer Biology at the Next Scale"
    light = true
    %}
</div>
<div class="col-lg-6 order-lg-2">
    {% include typography/big_section_heading.html
    heading="OUR MISSION"
    subheading = "Using lab automation to provide academics and SME's with services to engineer biology at a scale beyond manual methods"
    light = true
    %}
</div>
</div>