<nav class="navbar navbar-expand-md sticky-top bg-light">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="assets\images\logo\genome_foundry_logo.svg" width="200px" alt="genome foundry logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyAbout">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#scrollspySupporters">Supporters</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyServices">Services</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#scrollspyServices"
                        role="button" aria-expanded="false">Services</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#scrollspyAssembly">High-Throughput DNA Assembly</a></li>
                        <li><a class="dropdown-item" href="#scrollspyMicrobial">Microbial Engineering</a></li>
                        <li><a class="dropdown-item" href="#scrollspyMammalian">Mammalian Cell Engineering</a></li>
                        <li><a class="dropdown-item" href="#scrollspyScreening">High-Throughput Screening</a></li>
                        <li><a class="dropdown-item" href="#scrollspyDNA">High Quality Synthetic DNA</a></li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyTeam">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyOpportunities">Opportunities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary ms-2 text-white fw-semibold" href="#scrollspyContact">Contact
                        Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>