<nav class="navbar navbar-expand-md sticky-top bg-light">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="{{ site.logo }}" width="200px" alt="genome foundry logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% for item in site.data.navigation %}
                    {% if item.submenu %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ item.link }}"
                                role="button" aria-expanded="false">{{ item.name }}</a>
                            <ul class="dropdown-menu">
                                {% for subitem in item.submenu %}
                                <li><a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        {% if item.button == true %}
                            <a class="nav-link btn btn-primary ms-2 text-white fw-semibold" href="{{ item.link }}">{{ item.name }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                        {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>