body{
  overflow-x: hidden;
  font-size: $h5-font-size;
}

.container-lg {
  --bs-gutter-x: 6rem;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

@media (max-width: 1200px) {
  .container-lg {
    --bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
}

.shadow-primary {
  -moz-box-shadow:    0 .5rem 1rem rgba($primary, .5);
  -webkit-box-shadow: 0 .5rem 1rem rgba($primary, .5);
  box-shadow:         0 .5rem 1rem rgba($primary, .5);
}

.video-container {
  min-height: 300px;
  min-width: 300px;
  height: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.rounded-bottom-end{
  border-radius: $border-radius;
  border-bottom-right-radius: $border-bottom-end-radius;
}

.gradient-bg {
  background: linear-gradient(to right top, #01847f, #007c8a, #007293, #006697, #005995, #004e8b, #014381, #043877, #052e67);
  // background: linear-gradient(to bottom right, #018077 , #004691);
}

.text-primary-light{
  color: #00d3c9;
}

.gradient-text {
  background: linear-gradient(to bottom right, #018077 , #004691);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-animated {
  background: linear-gradient(270deg, #004185, #00958a);
  background-size: 200% 200%;

  -webkit-animation: textGradientAnimation 10s ease infinite;
  -moz-animation: textGradientAnimation 10s ease infinite;
  animation: textGradientAnimation 10s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-animated-light {
  background: linear-gradient(270deg, #fff3e1, #b9fffa);
  background-size: 200% 200%;

  -webkit-animation: textGradientAnimation 10s ease infinite;
  -moz-animation: textGradientAnimation 10s ease infinite;
  animation: textGradientAnimation 10s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes textGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes textGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes textGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.icon-circle-primary {
  background-color: tint-color($primary, 90%);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: inline-block;
}

.icon-circle-primary-dark{
  background-color: rgba(#00d3c9, 0.2);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: inline-block;
}

.dark-accordion {
  --#{$prefix}accordion-bg: none;
  --#{$prefix}accordion-active-bg: none;
  --#{$prefix}accordion-color: white;
  --#{$prefix}accordion-active-color: white;
  $accordion-color: white;
  --#{$prefix}accordion-btn-color: #{$accordion-color};
  $accordion-icon-color: white;
  $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  $accordion-icon-active-color: white;
  $accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
}

.rounded-accordion .accordion-item {
  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));
    @include border-bottom-end-radius($border-bottom-end-radius);

    .accordion-button {
      &.collapsed {
        @include border-bottom-radius(var(--#{$prefix}accordion-inner-border-radius));
        @include border-bottom-end-radius($border-bottom-end-radius);
      }
    }

    .accordion-collapse {
      @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));
      @include border-bottom-end-radius($border-bottom-end-radius);
    }
  }
}